body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined{
    color: white;
    padding-right: 20px;
}


.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

.side-bar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #1e2e3f;
}

.logo-container{
    text-align: center;
}

.logo{
    width: 250px;
    padding: 5px;
}

.menu-list, .menu-list-2{
    list-style: none;
}

.menu-container{
    padding-left: 20px;
}

.menu-list li, .menu-list-2 li{
    display: flex;
    align-items: end;
    color: white;
    font-weight: bold;
    padding: 30px 5px;
}

.menu-list li:hover{
    background-color: #365576;
    border-radius: 15px;
    padding-left: 20px;
}

.menu-list-2 li:hover{
    background-color: #516274;
    border-radius: 15px;
    padding-left: 20px;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #ffffff;
    margin-left: 50px;
    margin-right: 20px;
  }

  .dash-header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .search-bar-container{
    display: flex;
    align-items: center;
  }

  .material-symbols-outlined.search{
    color: black;
  }

  .search-input{
    appearance: none;
    border-radius: 20px;
    background-color: #ededed;
    border: none;
    height: 30px;
    width: 90%;
    padding: 0px 10px 0px 10px;
  }

  .dash-header{
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .small-pro-pic{
    width: 50px;
    height: 50px;
  }

  .username{
    font-size: 1.3rem;
    font-weight: bold;
    justify-self: end;
    padding-left: 20px;
  }

  .dash-header-left{
    display: flex;
    align-items: center;
    width: 60%
  }

  .dash-header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    width: 40%;
  }